@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-container: 1700px
}

@layer utilities {
  .max-w-8xl {
    @apply max-w-[1700px];
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

html, body {
  @apply bg-gray-100 dark:bg-gray-900;
}